body{
    margin: 0;
}

.font{
    font-family:'Roboto' ;
}
    
/* css margin and pedding */
.margin {

    height: 200px;
    width: 200px;
    background-color: green; 
    /* border: 10px solid black;
    display: inline-block; */
    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin: 50px; */
    /* margin: 30px 50px;
    margin: 30px 50px 70px; */
    /* margin: 50px 70px 100px 150px;*/
    /* margin-left: -100px;
    margin-top: -100px; */
    /* margin-inline: 100px;
    margin-block: 200px; */
    /* margin-inline-start: 100px;
    margin-inline-end: 100px; */
    /* margin-block-start: 100px;
    margin-block-end: 150;
    margin-left: 100px; */
} 

/* css pedding */

.padding{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 2px solid black;
    margin: 0;
    color: purple;

    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px; */

    /* padding: 20px;
    padding: 20px 40px;
    padding: 20px 40px 60px;
    padding: 20px 40px 60px 80px;
    padding-left: -100px; */

    }

    /* css width / Height / Max-Width / Max-Height / Min-width / Min-Height */

    .content{
        width: 600px;
        height: 600px;
        border: 1px solid black;

    }

    .content{
        max-width: 600px;
        max-height: auto;
        border: 1px solid black;
    }

    .content{
        min-width: 600px;
        min-height: auto;
        border: 1px solid black;
    }