p{
    background-color: blue;
}
p{
    background-color: brown;
}
.firstheading{
    border: 10px dashed black;

}
#firstheading{
    border: 2px solid black;
}
#heading{
    border: 5px dotted black;
}